

#loadSamplesContainer {
  display: none;
  position: fixed;
  top: 0; left: 0;
  padding: 2em;
  width: 100%;
  height: 100%;
  background-color: $cod-gray;
  //@include linear-gradient(#333, #666, $cod-gray);
  z-index: 20;
  overflow: scroll;

  @include smartphone {
    padding: 0.5em;
  }
}



.title {
  width: 100%;
  padding: 2em;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  color: white;

  @include smartphone {
    font-size: 1em;
    padding: 0.5em;
  }
}

.samples-accordion {
  margin-top: 1em;
  margin-bottom: 1em;
}


#loadSamplesContainer .ui-state-focus, #loadSamplesContainer .ui-accordion-header {
  outline: none;
}



#loadSamplesContainer .ui-accordion .ui-accordion-content {

  padding: 0;
  border: none;

  //padding: 2em;
  //
  //@include smartphone {
  //  padding: 1em;
  //}
}


#loadSamplesContainer .ui-accordion-content {
  border: none;
  @include border-radius(0);
  background-color: #454545;
  //@include linear-gradient(#333, #666, $cod-gray);
}


.sample-item {
  display: block;
  position: relative;
  left: 0;
  padding: 1em;
  width: 100%;
  color: #bbb;
  font-size: 0.8em;
  line-height: 3em;
  min-height: 3em;
  border-bottom: 0.5px solid rgba(150, 150, 150, 0.7);
  //background-color: #212121;

  &:hover {
    color: white;
    font-weight: bold;
    background-color: #222;
  }
}



.sample-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
  width: 60%;
  font-size: 1em;
  line-height: 1.5em;
  overflow: hidden;

  @include smartphone {
    font-size: 0.8em;
    line-height: 1em;
  }
}


.load-sound-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: calc(40% - 6em);
  padding: 0;
  width: 2em;
  height: 2em;
  @include border-radius(1em);
  outline: none;

  @include smartphone {
    margin-left: calc(40% - 6.5em);
  }
}


.ui-button[name="loadSoundButton"] {
  margin: 0 !important;
  padding: 0 !important;
}




#samplesCancelBtn {
  margin-top: 10em;
  margin-left: calc(50vw - 15% - 2em);
  padding: 1em;
  bottom: 1em;
  width: 30%;
  background-color: red !important;
  color: white !important;
  outline: none;

  @include smartphone {
    width: 50%;
    margin-top: 8em;
    margin-left: calc(50vw - 25% - 0.5em);
  }
}

.ui-button[id="samplesCancelBtn"] {

}