

#sequencerTransportContainer {
  position: fixed;

  padding: 1em;
  top: 64px;
  left: 0;
  width: 100%;


  //left: $body-padding-desktop;
  //width: calc(100% - #{$body-padding-desktop + $body-padding-desktop});

  //background-color: #333;
  @include linear-gradient($cod-gray, #666,$cod-gray);
  z-index: 100;

  //@include tablet {
  //  left: $body-padding-tablet;
  //  width: calc(100% - #{$body-padding-tablet + $body-padding-tablet});
  //}
  //
  //@include smartphone {
  //  left: 0;
  //  width: 100%;
  //}


  @include smartphone-landscape {
    top: 40px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}





#sequencerControlsContainer {
  position: relative;
  list-style: none;
  text-align: justify;
  width: 100%;
  height: 48px;
  //line-height: 4em;

  @include smartphone {
    height: 32px;
  }

  @include smartphone-landscape {
    height: 32px;
  }
}

#sequencerControlsContainer:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
}



#sequencerControlsContainer li {
  display: inline-block;
  vertical-align: middle;
}



.sequencer-control-button {
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-size: 100%;
  outline: none;

  @include smartphone {
    width: 32px;
    height: 32px;
  }

  @include smartphone-landscape {
    width: 32px;
    height: 32px;
  }
}

#sequencerPlayButton {
  background-image: url('../../app/assets/icons/Play-50-white.png');
}

#sequencerStopButton {
  background-image: url('../../app/assets/icons/Stop-50-red.png');
}

#sequencerBPMsliderLabel {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  color: $scifi-text-hover;
  background: none;
  background-color: transparent;
  outline: none;

  @include smartphone {
    font-size: 12px;
  }

  @include smartphone-landscape {

  }
}


#sequencerBPMslider {
  position: relative;
  top: 1em;
  width: calc(100vw - 2em - 48px - 48px - 48px - 48px);
  //width: calc(100vw - #{$body-padding-desktop + $body-padding-desktop} - 2em - 48px - 48px - 48px - 48px);
  height: 4px;
  @include border-radius(0);
  @include linear-gradient(to right, $slider-start, $slider-end);
  border: 1px solid #999;


  //@include tablet {
  //  width: calc(100vw - #{$body-padding-tablet + $body-padding-tablet} - 2em - 48px - 48px - 48px - 48px);
  //}
  //
  //@include smartphone {
  //  top: 12px;
  //  width: calc(100vw - 2em - 32px - 32px - 32px - 32px);
  //}
}



#sequencerBPMslider > .ui-slider-handle {
  height: 12px;
}



#sequencerBPMLabel {
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  font-size: 1em;
  background: none;
  color: cornflowerblue;
}


#beatIndicatorsContainer {
  display: block;
  position: relative;
  top: 1em;
  padding: 4px calc(1em - 4px);
  @include border-radius(0.5em);
  box-shadow:inset 0 0 10px #ddd;
  background-color: $cod-gray;
}





#beatIndicators {

  list-style: none;
  //padding-left: 4px;
  //padding-right: 4px;
  text-align: justify;
  height: 1em;
  line-height: 1em;
}


#beatIndicators:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
}

#beatIndicators li {
  display: inline-block;
  vertical-align: middle;
}


#beatIndicatorsContainer {
  width: 100%;
  //height: 2em;
  //background-color: #111;
}


.beat-indicator {
  position: relative;
  top: -4px;

  display: inline-block;
  vertical-align: middle;
  width: 1em;
  //height: 0.5em;
  height: 4px;
  //@include border-radius(4px);
  @include border-radius(2px);
  background-color: red;

  @include smartphone {
    width: 8px;
    height: 2px;
    @include border-radius(1px);
  }

  @include smartphone-landscape {
    width: 8px;
    height: 2px;
    @include border-radius(1px);
  }
}

.beat-indicator-active {
  background-color: yellow;
}