



<div id="drumMachineViewContainer">


    <div id="sequencerTransportContainer">

        <ul id="sequencerControlsContainer">
            <li>
                <button id="sequencerPlayButton" class="sequencer-control-button sequencer-play-inactive"></button>
            </li>

            <div style="position: absolute; padding: 0; top: 0; left: 0; right: 0; width: 38px; height: 1em;
            background-color: transparent; margin: 0 auto;">

                <input type="number" ng-model="bpm" step="1" min="30" max="260" ng-pattern="integerval"
                       ng-change="updateSlider();" ng-model-options="{debounce:100}" id="sequencerBPMsliderLabel">
            </div>
            <li style="position: relative;">
                <div id="sequencerBPMslider"></div>
            </li>

            <li>
                <button id="sequencerStopButton" class="sequencer-control-button sequencer-stop-active"></button>
            </li>
        </ul>


        <div id="beatIndicatorsContainer">
                <ul id="beatIndicators">
                    <span ng-repeat-start="beat in beats track by $index"></span>
                    <li>
                        <div class="beat-indicator"></div>
                    </li>
                    <span ng-repeat-end></span>
                </ul>
        </div>


        <div style="width: 100%; height: 1em;"></div>


    </div>





    <div class="tracks-container">

        <ul>
            <li ng-repeat="(id, track) in tracks">
                <div class="track-separator"></div>
                <div the-track track="track" ticks-elements="ticksElements" samples-data="samplesData" samples-buffers="samplesBuffers"
                     enable-loading-spinner="enableLoadingSpinner" disable-loading-spinner="disableLoadingSpinner"
                     audio-loader="audioLoader" audio-context="audioContext" play-sound-from-buffer="playSoundFromBuffer"
                     remove-track="removeTrack" class="track"></div>
            </li>
            <div class="track-separator"></div>
        </ul>

        <button id="addTrackBtn" data-ng-click="addTrack();"></button>

    </div>




    <div id="accordionContainer" >
        <div id="accordion">
            <h3>Comments</h3>
            <div style="position: relative;">


                <form name="commentForm" novalidate>
                    <div style="position: relative; width: 100%;">
                        <input type="text" name="username" id="usernameInput" data-ng-model="username"
                               required ng-minlength="3" ng-maxlength="32" maxlength="32" placeholder="Type a username!">
                        <textarea id="commentArea" name="comment" data-ng-model="commentToPost"
                                  required ng-minlength="3" ng-maxlength="1000" maxlength="1000" placeholder="Type a comment!"></textarea>
                    </div>

                    <div style="margin-top: 1em; margin-bottom: 1em; position: relative; width: 100%">
                        <span style="display: block; width: 100%">
                            <p style="text-align: left; color: red;" ng-show="commentForm.username.$invalid && !commentForm.username.$pristine">{{invalidUsernameMessage}}</p>
                        </span>
                        <span style="display: block; width: 100%">
                            <p style="text-align: left; color: red;" ng-show="commentForm.comment.$invalid && !commentForm.comment.$pristine">{{invalidCommentMessage}}</p>
                        </span>
                    </div>

                    <div style="margin-top: 1em; margin-bottom: 4em; position: relative; width: 100%; height: 4em; line-height: 4em;">
                        <button id="postCommentBtn" ng-click="postComment();" ng-disabled="commentForm.$invalid">Post</button>
                    </div>



                </form>



                <ul>
                    <li data-ng-repeat="comment in comments">
                        <comment></comment>
                    </li>
                </ul>


                <div id="commentsLoadingOverlay" class="loading-overlay loading-active"></div>
                <div id="commentsLoadingSpinner" class="loader loading-active">Loading...</div>


            </div>
        </div>
    </div>


</div>










