{{title}}


<!--<div vertical-slider track="track" style="left: 100px; height:200px;" />-->





<!--<span>Vertical Slider:</span> <b><span id="lblVertical"></span></b>-->
<!--<br/><br/>-->
<!--<div id="sliderVer" style="left: 100px; height:200px; border: 1px solid black;"></div>-->
<!--<br/>-->
<!--<br/><span>Horizontal Slider:</span> <b><span id="lblHorizontal"></span></b>-->
<!--<br/><br/>-->
<!--<div id="sliderHoz" style="width:300px;"></div>-->



<!--<script>-->

    <!--$(document).ready(function() {-->

        <!--var iValue = 50;-->
        <!--$("#lblVertical").text(iValue);-->
        <!--$("#lblHorizontal").text(iValue);-->
        <!--$("#sliderVer").slider({-->
            <!--min: 0,-->
            <!--max: 100,-->
            <!--orientation: "vertical",-->
            <!--value: iValue,-->
            <!--slide: function(event, ui) {-->
                <!--$("#lblVertical").text(ui.value);-->
            <!--}-->
        <!--}).draggable();-->

        <!--$("#sliderHoz").slider({-->
            <!--min: 0,-->
            <!--max: 200,-->
            <!--value: iValue,-->
            <!--slide: function(event, ui) {-->
                <!--$("#lblHorizontal").text(ui.value);-->
            <!--}-->
        <!--}).draggable();-->
    <!--});-->


<!--</script>-->