
<div>

    <div class="track-top-container">

        {{track.name}}

        <input type="file" id="input" onchange="angular.element(this).scope().handleFiles(this.files)">

    </div>



    <div class="separator"></div>



    <div class="track-bottom-container">
        <div class="ticks-container">
            <ul>
                <li ng-repeat="tick in track.ticks" style="display: inline-block">
                    <div tick-slider tick="tick" ticks-elements="ticksElements" resize-tick="resizeTick" class="tick"></div>
                </li>
            </ul>
        </div>
    </div>


</div>







