
<div>

    <button name="removeTrackButton" class="track-remove-button" data-ng-click="removeTrack(track);">X</button>

    <div class="track-top-container">


        <div class="track-top-header">
            <div>
                <button name="playSoundButton" class="play-sound-button" data-ng-click="playSound();"></button>
                <input type="text" data-ng-model="track.name" class="track-name">
            </div>

            <div style="margin-top: 0.5em;">
                <input type="file" name="loadFile" style="color: transparent;" onchange="angular.element(this).scope().handleFiles(this.files)">
            </div>
        </div>

    </div>



    <!--<div class="separator"></div>-->



    <div class="track-bottom-container">
        <div class="ticks-container">
            <ul>
                <li ng-repeat="tick in track.ticks" style="display: inline-block">
                    <div tick-slider tick="tick" ticks-elements="ticksElements" resize-tick="resizeTick" class="tick"></div>
                </li>
            </ul>
        </div>
    </div>


</div>







