
<div>

    <button name="removeTrackButton" class="track-remove-button" data-ng-click="removeTrack(track);">X</button>


    <div class="track-top-container">

        <div style="width: 100%; min-height: 2em; line-height: 2em; ">
            <button name="playSoundButton" class="play-sound-button" data-ng-click="playSound();"></button>
            <input type="text" data-ng-model="track.name" class="track-name">

            <button name="soloTrackButton" class="track-control-button" data-ng-class="{'solo-button-active' : track.solo}"
            data-ng-click="onSoloTrack();">s</button>
            <button name="muteTrackButton" class="track-control-button" data-ng-class="{'mute-button-active' : track.mute}"
            data-ng-click="onMuteTrack();" >m</button>


            <div style="position: absolute; right: 0; top: 0; height: 2em; line-height: 2em;">
                <label for="trackVolumeSlider" class="track-control-label volume-label">vol</label>
                <div id="trackVolumeSlider" style="display: inline-block; vertical-align: middle;"></div>
            </div>
        </div>


        <div style="width: 100%; min-height: 2em; line-height: 2em;">
            <input type="file" name="loadFile" style="display: inline-block; vertical-align: middle; color: transparent; width: 10.5em;"
                   onchange="angular.element(this).scope().handleFiles(this.files)">

            <button name="loadSoundFromServerBtn" data-ng-click="loadSamplesFromServer();" class="load-sound-from-server-button">Server</button>


            <div style="position: absolute; right: 0; bottom: 0; height: 2em; line-height: 2em;">
                <label for="trackPanSlider" class="track-control-label pan-label">pan</label>
                <div id="trackPanSlider" style="display: inline-block; vertical-align: middle"></div>
            </div>
        </div>

    </div>





    <!--<div class="separator"></div>-->



    <div class="track-bottom-container">
        <div class="ticks-panel">
            <ul class="ticks-container">
                <span ng-repeat-start="tick in track.ticks"></span>
                <li>
                    <div tick-slider tick="tick" ticks-elements="ticksElements" resize-tick="resizeTick"></div>
                </li>
                <span ng-repeat-end></span>
            </ul>
        </div>
    </div>



</div>







