/*
 * ---------------------------------------------------------------------------------------
 * _variables.scss
 * ---------------------------------------------------------------------------------------
 */



// media queries variables
$mobile-min-pixel-ratio: 2;
$smartphone-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;





// layout variables
$body-margin: 0;
$body-padding: 1em;



// track variables
$track-container-height: 2em;





