/*
 * ---------------------------------------------------------------------------------------
 * _variables.scss
 * ---------------------------------------------------------------------------------------
 */



// media queries variables
$mobile-min-pixel-ratio: 2;
$smartphone-min-width: 320px;
$tablet-min-width: 512px;
$desktop-min-width: 1024px;





// layout variables
$body-margin: 0;
$body-padding: 1em;
$body-padding-desktop: 8em;
$body-padding-tablet: 4em;



// track variables
$track-container-height: 2em;



// hamburgers
$hamburger-layer-color                     : #fff;

