/*
 * ---------------------------------------------------------------------------------------
 * base.scss
 * ---------------------------------------------------------------------------------------
 */


*, *:before, *:after {
  box-sizing: border-box;
}


html {

}


body {

  min-height: 100%;
  position: relative;

  font-family: "Helvetica Neue", "Helvetica";
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 2px;
  color: white;
  background: #333;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: none;

  background-color: #666;



  //padding-left: $body-padding-desktop;
  //padding-right: $body-padding-desktop;
  //
  //@include tablet {
  //  padding-left: $body-padding-tablet;
  //  padding-right: $body-padding-tablet;
  //}
  //
  //@include smartphone {
  //  padding-left: 0;
  //  padding-right: 0;
  //}

}



body *
{
  text-shadow: none;
}


// preload button images
body:after{
  display:none;
  content:
  url('../../app/assets/icons/Play-50-green.png')
  url('../../app/assets/icons/Play-50-white.png')
  url('../../app/assets/icons/Stop-50-red.png')
  url('../../app/assets/icons/Stop-50-white.png')
}




#mm-0, #page, #content {
  display: block;
  position: relative;
  width: 100%;
  //height: 100%;
}




canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}




#angularView {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


input::-webkit-input-placeholder {
  color: #999999;
}


.disable-hover {
  pointer-events: none;
}



