/*
 * ---------------------------------------------------------------------------------------
 * base.scss
 * ---------------------------------------------------------------------------------------
 */


*, *:before, *:after {
  box-sizing: border-box;
}


html {

}


body {

  position: relative;

  font-family: "Helvetica Neue", "Helvetica";
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: .1em;
  color: $scifi-text-hover;
  background: #333;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: none;


  @include smartphone {

  }
}



body *
{
  text-shadow: none;
}




canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}




#angularView {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



