
#accordionContainer {
  margin-top: 10em;
  width: 100%;
}




#usernameInput {
  width: 100%;
  height: 3em;
  padding: 1em;
  box-sizing: border-box;
  border-top: 2px solid #dbdfe4;
  border-left: 2px solid #dbdfe4;
  border-right: 2px solid #dbdfe4;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  color: #bababa;
  background: #2b2b2b;
  outline: none;
}


#commentArea {
  width: 100%;
  height: 6em;
  line-height: 1.2em;
  padding: 1em;
  box-sizing: border-box;
  border: 2px solid #dbdfe4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  color: #bababa;
  background: #2b2b2b;
  outline: none;
  resize: none;
  maxlength: 30;
}


#postCommentBtn {
  position: absolute;
  top: 1em;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  //position: absolute;
  //top: 10em;
  outline: none;
}

#commentValidation {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  line-height: 1em;
  font-size: 1em;
  color: red;
}


// jquery accordion styles

.ui-state-focus, .ui-accordion-header {
  border: none;
  outline: none;
  @include border-radius(0);
  background-color: #212121;
}

.ui-accordion .ui-accordion-content {
  padding: 4em;

  @include smartphone {
    padding: 1em;
  }
}


#accordion .ui-accordion-content {
  border: none;
  @include border-radius(0);
  @include linear-gradient(#333, #666, $cod-gray);
}






// commentDirective styles

.comment-container {
  display: block;
  position: relative;
  margin-bottom: 0.5em;
  padding: 1em;
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: $accordion-bg;
}

.comment-header {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.comment-title {
  display: block;
  width: 100%;
  vertical-align: middle;
  color: $cod-gray;
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
}

.comment-created {
  display: block;
  margin-top: 4px;
  width: 100%;
  vertical-align: middle;
  color: #bbb;
  font-size: 0.75em;
}



.comment-message {
  display: block;
  margin-top: 0.5em;
  width: 100%;
  font-size: 1em;
  color: $cod-gray;
  text-align: left;
  //text-justify: inter-word;
}





