







// jquery slider styles overriding

.ui-slider {

}

.ui-slider-vertical {
  width: 8px;
  //width: 100% !important;

  height: $track-container-height !important;
  border: 1px solid white !important;

  @include linear-gradient($slider-start, $slider-end);
}

.ui-slider-vertical .ui-slider-handle {
  margin-bottom: -4px !important;
  left: -4px !important;
  height: 0.5em !important;

}