







// jquery slider styles overriding

.ui-slider {
  border: 1px solid white !important;
  @include linear-gradient(black, blue);
}

.ui-slider-vertical {
  width: 1em;
  height: $track-container-height !important;
}

.ui-slider-vertical .ui-slider-handle {
  left: 0 !important;
  margin-bottom: 0px !important;
  width: 100% !important;
  height: 4px !important;
  border: 0 !important;
  background-color: $scifi-text-hover;
}