


.tracks-container {
  //margin-top: calc(48px + 2em);
  top: 0;
  left: 0;
  width: 100%;
  padding-top: calc(64px + 1em + 48px + 1em + 24px + 1em);

  @include smartphone {
    padding-top: calc(64px + 1em + 32px + 1em + 24px + 1em);
  }
}


.track {

  position: relative;
  padding: 1em;
  width: 100%;

  @include linear-gradient($track-bg-start, $track-bg-end);
}

.track-name {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: scroll;

  margin: 0;
  padding: 0;
  border: 0;
  width: 5em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background: none;
  outline: none;
}


.track-top-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4em;
}





.track-dragfile {
  @include linear-gradient(#888, #bbb);
}







.track-control-label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  font-size: 0.5em;
  color: #bbb;

  @include smartphone {
    display: none;
  }
}

.track-control-button {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  width: 4em;

  @include smartphone {
    width: 3em;
  }
}

.track-control-button.ui-button {
  display: inline-block;
  font-size: 0.5em;
}

.solo-button-active {
  color: #ddd !important;
  background: $scifi-text-hover !important;
}

.mute-button-active {
  color: #ddd !important;
  background: red !important;
}





.ui-slider.ui-slider-horizontal {
  position: relative;
  top: 0;
  height: 0.5em;
  width: 6em;

  @include smartphone {
    width: 4em;
  }
}

.ui-slider[id="trackVolumeSlider"] {
  @include linear-gradient(to right, $slider-end, $slider-start);
}

.ui-slider[id="trackPanSlider"] {
  @include linear-gradient(to right, $slider-start, $slider-end, $slider-start);
}


.ui-slider .ui-slider-handle {
  height: 1em;
  width: 4px;
  padding-left: 12px;
  background-color: $scifi-text-hover;
  outline: none;

}



.track-separator {
  position: relative;
  left: 0;
  width : 100%;
  height: 4px;

  @include linear-gradient(to bottom, #222 8%, #ddd 84%, #222 8%);

}

.track-remove-button {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  position: absolute;
  top: 0;
  right: 0;

  @include border-radius(0);
  background-color: transparent;
  outline: none;
}







.track-bottom-container {
  margin-top: 1em;
  position: relative;
  left: 0;
  width: 100%;
}

.ticks-panel {
  padding: 1em;
  padding-bottom: 0;
  position: relative;
  left: 0;
  width: 100%;
  @include border-radius(0.5em);
  box-shadow:inset 0 0 10px #ddd;
  background-color: #111;
}



.ticks-container {
  list-style: none;
  padding: 0;
  text-align: justify;
}

.ticks-container:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
}

.ticks-container li {
  display: inline-block;
  vertical-align: middle;
}





.separator {
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}


.play-sound-button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 0;
  width: 2em;
  height: 2em;
  @include border-radius(1em);
  outline: none;
}

.ui-button[name="playSoundButton"] {
  margin: 0 !important;
  padding: 0 !important;
}









